<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/20170616_yakedake.jpg" alt="焼岳" class="bd-placeholder-img bd-placeholder-img-md d-block w-100" width="800" height="400"
      focusable="false" role="img" aria-label="Placeholder: First slide"><title>Placeholder</title></img>
      <div class="carousel-caption d-none d-md-block">
        <h5>焼岳</h5>
        <p>山頂から上高地を見下ろす</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/20090705_shirakimine.jpg" alt="白木峰" class="bd-placeholder-img bd-placeholder-img-md d-block w-100" width="800" height="400"
      focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title></img>
      <div class="carousel-caption d-none d-md-block">
        <h5>白木峰</h5>
        <p>初夏にはニッコウキスゲが咲き乱れる</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="/images/20081003_ontake.jpg" alt="御嶽山" class="bd-placeholder-img bd-placeholder-img-md d-block w-100" width="800" height="400"
      focusable="false" role="img" aria-label="Placeholder: Third slide"><title>Placeholder</title></img>
      <div class="carousel-caption d-none d-md-block">
        <h5>御嶽山</h5>
        <p>三途の川があるという霊峰</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>