<div class="text-center">
  <h2>Category一覧</h2>
  <h4>全<%= categories.length %>件</h4>
</div>
<table class="table table-hover" id="categories-table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
    <% categories.forEach(category => { %>
      <tr>
        <td> <%= category.id %> </td>
        <td> <%= category.name %> </td>
      </tr>
    <% }) %>
  </tbody>
</table>

<script>
  $("#categories-table tbody tr").on("click",function(){
    var td_id = $(this).children().eq(0).text().trim();
    window.location.href = `/categories/${td_id}`
  })
</script>
