<div class="text-center">
  <h2>Categoryの照会</h2>
</div>
<div class="row g-3 align-items-center">
  <div class="col-auto">
    <label for="inputId" class="col-form-label">ID</label>
  </div>
  <div class="col-auto">
    <input value="<%= category.id %>" type="text" id="inputId" class="form-control" disabled>
  </div>
  <div class="col-auto">
    <label for="inputCategory" class="col-form-label">カテゴリー</label>
  </div>
  <div class="col-auto">
    <input value="<%= category.name %>" type="text" id="inputCategory" class="form-control" disabled>
  </div>
</div>
<hr class="mb-4">
<button class="btn btn-warning float-start" onclick="location.href='/categories/<%= category.id %>/edit'">編集</button>
<button class="btn btn-danger float-end" onclick="location.href='/categories/<%= category.id %>?_method=DELETE'">削除</button>
