<div class="text-center">
  <h2>Login</h2>
</div>
<form class="row g-3" action="/users/login" method="POST">
  <div class="col-md-6">
    <label for="validationDefaultUsername" class="form-label">User ID</label>
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">@</span>
      <input name="userId" type="text" class="form-control" id="validationDefaultUsername"  aria-describedby="inputGroupPrepend2" placeholder="User ID" pattern="^([a-zA-Z0-9]{5,})$" title="半角英数5文字以上" required>
    </div>
  </div>
  <div class="col-md-6">
    <label for="password" class="form-label">Password</label>
    <input name="password" type="password" class="form-control" id="password" placeholder="Password" pattern="^([a-zA-Z0-9]{5,})$" title="半角英数5文字以上" required>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Login</button>
  </div>
</form>
