<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading"><%= errMsg %></h4>
</div>
<div class="alert alert-info" role="alert">
  <p>エラーコード: <%= errCode %></p>
  <p>URL: <%= reqUrl %></p>
  <p>詳細:<br><%= errDescription %></p>
</div>
